.about {
    background-color: #333333;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 50px;
    object-fit: cover;
    object-position: center top;
}

h2, h3 {
    color: #50C878;
}

.typed-animation {
    display: inline-block;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.about-description-paragraphes {
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #E0E0E0;
    max-width: 800px;
    text-align: justify;
}

.about-description-paragraphes p {
    margin-top: 30px;
}

.about-stacks {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-stacks h3 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
}
  
.about-stacks-icons { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1.5rem;
}

.about-stacks-icon { 
    font-size: 3rem; 
    transition: transform 0.3s ease-in-out; 
    animation: float 3s ease-in-out infinite;
    cursor: pointer;
}

.about-stacks-icon svg:hover { 
    transform: scale(2);
}

.HTML5 {
    color: red;
}

.CSS3 {
    color: #264de4;
}

.React {
    color: #61DBFB;
}

.Git {
    color: #f14e32;
}

.Figma {
    color: #F24E1E;
}

.NPM {
    color: #CB3837;
}

.Sass {
    color: #C69;
}

.JavaScript {
    color: #F0DB4F;
}

/* Responsive */


@media (max-width: 1024px) { 
    .about-description-paragraphes { 
        max-width: 90%; 
    } 
}

@media (max-width: 768px) { 
    .about-description-paragraphes { 
        max-width: 85%;
    } 
}

@media (max-width: 480px) { 
    .about-description-paragraphes { 
        max-width: 90%; 
    } 
}

/* Animations */

@keyframes float { 
    0% { 
        transform: translateY(0px); 
    } 
    50% { 
        transform: translateY(-10px); 
    } 
    100% { 
        transform: translateY(0px); 
    } 
}